{% extends 'header.html' %}
{% block content %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
     
  </head>
  <body>

  
    
    <section id="selling-products" class="product-store bg-light-grey padding-large">
      <div class="container">
        <div class="section-header">
          {% if carts %}
            <h2 class="section-title">My Orders</h2>
          {% else %}
            <h2 class="section-title">No Products In  Orders Yet</h2>
          {% endif %}
        </div> 
        <div class="tab-content">
          <div id="all" data-tab-content class="active">
            <div class="row d-flex flex-wrap">
              {% for i in carts %}
              <div class="product-item col-lg-3 col-md-6 col-sm-6">
                <div class="image-holder">
                  <img src="{{i.product.product_picture.url}}" style="width: 250px; height: 300px;" alt="Books" class="product-image">
                </div>
                <div class="cart-concern">
                  <div class="cart-button d-flex justify-content-between align-items-center">
                    {% if request.session.email%}
                      <a href="{% url 'seller_product_detail' pk=i.product.pk %}">
                         <button type="button" class="view-btn tooltip
                           d-flex">
                         <i>Quick view </i>
                        </button>
                      </a>
                    {% else %}  
                       <a href="{% url 'login' %}">
                          <button type="button" class="view-btn tooltip
                             d-flex">
                          <i>Login </i>
                      </button>
                    </a>
                    {% endif %}
                  </div>
                </div>
                <div class="product-detail">
                  <h3 class="product-title">
                    <a href="single-product.html">Name :{{i.product.product_name}}</a>
                  </h3>
                  <div class="item-price text-primary">Price :{{i.product.product_price}}</div>
                  <div class="item-price text-primary">
                    <form name="change_qty" method="post" action="{% url 'change_qty' %}">
                      {% csrf_token %}
                      Qty : <input type="number" min="1" max="10" name=product_qty value="{{i.product_qty}}" onchange="this.form.submit();" readonly>
                      <input type="hidden" name="pk" value="{{i.pk}}">
                    </form>
                  </div>
                  <div class="item-price text-primary">Total Price :{{i.total_price}}</div>



                </div>
              </div>
              {% endfor %}
            
              
              
    </section>

   
 
     
  </body>
</html>
{% endblock %}